<div class="container pt-3">
  <div class="row mt-3">
    <h2>マイページ</h2>
  </div>
  <!--<p>登録情報</p>-->
  <!--%= link_to "編集する", customer_edit_path %>-->
  <div class="row">
    <div class="col-10">
      <table class="table table-borderless">
        <tr>
          <th class="col-2">登録情報</th>
          <td><%= link_to "編集する", customer_edit_path, class: "btn btn-success" %></td>
        </tr>
      </table>
    
      <table class="table table-bordered">
        <tr>
          <td class="col-2 bg-light">氏名</td>
          <td><%= @customer.last_name + " " + @customer.first_name %></td>
        </tr>
        <tr>
          <td class="col-2 bg-light">カナ</td>
          <td><%= @customer.last_name_kana + " " + @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td class="col-2 bg-light">郵便番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td class="col-2 bg-light">住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td class="col-2 bg-light">電話番号</td>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <td class="col-2 bg-light">メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </table>
      
      <!--<p>配送先</p>-->
      <!--%= link_to "一覧を見る", addresses_path %>-->
      
      <!--<p>注文履歴</p>-->
      <!--%= link_to "一覧を見る", orders_path %>-->
      <table class="table table-borderless">
        <tr>
          <th class="col-2">配送先</th>
          <td><%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %></td>
        </tr>
        <tr>
          <th class="col-2">注文履歴</th>
          <td><%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>