<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h3>ようこそ、ながのCAKEへ！</h3>
      <h3>このサイトは、ケーキ販売のECサイトです。</h3>
      <h3>会員でない方も商品の閲覧はできますが、</h3>
      <h3>購入には会員登録が必要になります。</h3>

      <h2>新着商品</h2>
      <% @items.each do |item| %>  <!--homes#topで取ってきた@itemsに対してeach-->
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_item_image(100, 100) %></br>
          <%= item.name %></br>
        <% end %>
        ￥<%= item.get_tax_in_price.to_s(:delimited) %>（税込）</br>
      <% end %>

      <%= link_to "全ての商品を見る>", items_path %>
    </div>
  </div>
</div>